<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
    <title>Login</title>
</head>
<body style="margin: 20px">
<h1>Covid Alert</h1>

<form action="#" th:action="@{login}" th:object="${login}" method="post">
    <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text" th:field="*{email}" class="form-control" id="email" name="email">
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" th:field="*{password}" class="form-control" id="password" name="password">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
</form>

<a th:href="@{register}">Vous ne possédez pas encore de compte ?</a>
<!--<p th:text="${message}"></p>-->

<th:block layout:fragment="layout :: scripts"></th:block>

</body>
</html>