<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body style="margin: 20px">
<h1>Covid Alert</h1>
<form action="#" th:action="@{registration}" th:object="${registration}" method="post">
    <div class="form-group">
        <label for="email">Adresse mail</label>
        <input type="text" th:field="*{email}" class="form-control" id="email" name="email">
        <div style="color: red"th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="password">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    </div>
    <div class="form-group">
        <label for="password_confirm">Confirmation mot de passe</label>
        <input type="password" class="form-control" id="password_confirm" name="password_confirm">
        <div style="color: red" th:if="${#fields.hasErrors('password_confirm')}" th:errors="*{password_confirm}">Password error</div>
        <div style="color: red" th:if="${password_error}" th:text="${password_error}">Password error</div>


    </div>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>

<a th:href="@{/login}">Vous possédez déjà un compte ? Connectez-vous</a>
<!--<p th:text="${message}"></p>-->

<th:block layout:fragment="layout :: scripts"></th:block>

</body>
</html>